QSharer/QSharer.vcxproj
QSharer/QSharer.vcxproj.user
QSharer/Debug/QSharer.log
QSharer/Debug/vc120.pdb
QSharer/Debug/QSharer.tlog/cl.command.1.tlog
QSharer/Debug/QSharer.tlog/custombuild.command.1.tlog
QSharer/Debug/QSharer.tlog/custombuild.read.1.tlog
QSharer/Debug/QSharer.tlog/custombuild.write.1.tlog
QSharer/Debug/QSharer.tlog/QSharer.lastbuildstate
QSharer/Debug/QSharer.tlog/unsuccessfulbuild
QSharer/GeneratedFiles/Release/moc_QCommonDelegate.cpp
QSharer/GeneratedFiles/Release/moc_qsharer.cpp
QSharer/GeneratedFiles/Release/moc_Thread_Create.cpp
QSharer/GeneratedFiles/Release/moc_Thread_Disconnect.cpp
QSharer/GeneratedFiles/Release/moc_Timer_Monitor.cpp
QSharer/Release/HostNetlib.obj
QSharer/Release/Icon.res
QSharer/Release/main.obj
QSharer/Release/moc_QCommonDelegate.obj
QSharer/Release/moc_qsharer.obj
QSharer/Release/moc_Thread_Create.obj
QSharer/Release/moc_Thread_Disconnect.obj
QSharer/Release/moc_Timer_Monitor.obj
QSharer/Release/oui.obj
QSharer/Release/QCommonDelegate.obj
QSharer/Release/QSharer.Build.CppClean.log
QSharer/Release/QSharer.log
QSharer/Release/qsharer.obj
QSharer/Release/QSharer.pch
QSharer/Release/Sharing.obj
QSharer/Release/stdafx.obj
QSharer/Release/Thread_Create.obj
QSharer/Release/Thread_Disconnect.obj
QSharer/Release/Timer_Monitor.obj
QSharer/Release/QSharer.tlog/cl.command.1.tlog
QSharer/Release/QSharer.tlog/CL.read.1.tlog
QSharer/Release/QSharer.tlog/CL.write.1.tlog
QSharer/Release/QSharer.tlog/custombuild.command.1.tlog
QSharer/Release/QSharer.tlog/custombuild.read.1.tlog
QSharer/Release/QSharer.tlog/custombuild.write.1.tlog
QSharer/Release/QSharer.tlog/link.command.1.tlog
QSharer/Release/QSharer.tlog/link.read.1.tlog
QSharer/Release/QSharer.tlog/link.write.1.tlog
QSharer/Release/QSharer.tlog/QSharer.lastbuildstate
QSharer/Release/QSharer.tlog/QSharer.write.1u.tlog
QSharer/Release/QSharer.tlog/rc.command.1.tlog
QSharer/Release/QSharer.tlog/rc.read.1.tlog
QSharer/Release/QSharer.tlog/rc.write.1.tlog
Win32/Release/QSharer.exe
Win32/Release/QSharer.exp
Win32/Release/QSharer.lib
QSharer.sdf
QSharer.v12.suo
QSharer/Makefile
QSharer/Makefile.Debug
QSharer/Makefile.Release
QSharer/Debug/HostNetlib.obj
QSharer/Debug/main.obj
QSharer/Debug/moc_QCommonDelegate.cpp
QSharer/Debug/moc_qsharer.cpp
QSharer/Debug/moc_Thread_Create.cpp
QSharer/Debug/moc_Thread_Disconnect.cpp
QSharer/Debug/moc_Timer_Monitor.cpp
QSharer/Debug/oui.obj
QSharer/Debug/QCommonDelegate.obj
QSharer/Debug/qsharer.obj
QSharer/Debug/qsharer.pdb
QSharer/Debug/Sharing.obj
QSharer/Debug/stdafx.obj
QSharer/Debug/Thread_Create.obj
QSharer/Debug/Thread_Disconnect.obj
QSharer/Debug/Timer_Monitor.obj
Win32/Debug/QSharer.exp
Win32/Debug/QSharer.lib
Win32/Debug/QSharer.pdb
QSharer/Debug/Icon.res
QSharer/Debug/moc_QCommonDelegate.obj
QSharer/Debug/moc_qsharer.obj
QSharer/Debug/moc_Thread_Create.obj
QSharer/Debug/moc_Thread_Disconnect.obj
QSharer/Debug/moc_Timer_Monitor.obj
QSharer/Debug/QSharer.pch
QSharer/Debug/QSharer.tlog/CL.read.1.tlog
QSharer/Debug/QSharer.tlog/CL.write.1.tlog
QSharer/Debug/QSharer.tlog/link-cvtres.read.1.tlog
QSharer/Debug/QSharer.tlog/link-cvtres.write.1.tlog
QSharer/Debug/QSharer.tlog/link-rc.read.1.tlog
QSharer/Debug/QSharer.tlog/link-rc.write.1.tlog
QSharer/Debug/QSharer.tlog/link.command.1.tlog
QSharer/Debug/QSharer.tlog/link.read.1.tlog
QSharer/Debug/QSharer.tlog/link.write.1.tlog
QSharer/Debug/QSharer.tlog/rc.command.1.tlog
QSharer/Debug/QSharer.tlog/rc.read.1.tlog
QSharer/Debug/QSharer.tlog/rc.write.1.tlog
QSharer/GeneratedFiles/Debug/moc_QCommonDelegate.cpp
QSharer/GeneratedFiles/Debug/moc_qsharer.cpp
QSharer/GeneratedFiles/Debug/moc_Thread_Create.cpp
QSharer/GeneratedFiles/Debug/moc_Thread_Disconnect.cpp
QSharer/GeneratedFiles/Debug/moc_Timer_Monitor.cpp
QSharer.opensdf
qsharer/Debug/qrc_qsharer.obj
qsharer/Debug/qsharer.Build.CppClean.log
qsharer/Debug/qt_work.log
qsharer/Debug/qsharer.tlog/moc.read.1u.tlog
qsharer/Debug/qsharer.tlog/moc.write.1u.tlog
qsharer/Debug/qsharer.tlog/qsharer.write.1u.tlog
qsharer/Debug/qsharer.tlog/rcc.read.1u.tlog
qsharer/Debug/qsharer.tlog/rcc.write.1u.tlog
qsharer/Debug/qsharer.tlog/uic.read.1u.tlog
qsharer/Debug/qsharer.tlog/uic.write.1u.tlog
qsharer/GeneratedFiles/qrc_qsharer.cpp
qsharer/GeneratedFiles/ui_qsharer.h
qsharer/Release/qrc_qsharer.obj
qsharer/Release/qt_work.log
qsharer/Release/qsharer.tlog/moc.read.1u.tlog
qsharer/Release/qsharer.tlog/moc.write.1u.tlog
qsharer/Release/qsharer.tlog/rcc.read.1u.tlog
qsharer/Release/qsharer.tlog/rcc.write.1u.tlog
qsharer/Release/qsharer.tlog/uic.read.1u.tlog
qsharer/Release/qsharer.tlog/uic.write.1u.tlog
qsharer/Release/*
qsharer/Debug/*
Release/*
Debug/*
.vs/*
rename.sh
